<!-- Footer -->

<footer class="page-footer font-small unique-color-dark
#1C2331 pt-4">
 
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mt-md-0 mt-3">
  
          <!-- Content -->
          <h4 class="text-uppercase">UK</h4>
          <p>No.1 George Lane, London,
            United Kingtom, SE13 6HW.</p>
            <p class="text-info"><a href="tel:+44 208-144-1167" >+44 208-144-1167</a></p>
            <p class="text-info"><a href="mailto:BragTechUK@gmail.com" >BragTechUK@gmail.com</a></p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase text-warning">Quick Links</h5>
  
            <ul class="list-unstyled">
              <li style="margin: 10px;">
                <a routerLink="/seo">SEO</a>
              </li>
              <li style="margin: 10px;">
                <a routerLink="/smo">SMO</a>
              </li>
              <li style="margin: 10px;">
                <a routerLink="/digitalmarketing">Digital Marketing</a>
              </li>
              <li style="margin: 10px;">
                <a routerLink="/website-developement">Website Development</a>
              </li>
              <li style="margin: 10px;">
                <a routerLink="/google-search-result">Google Search Result</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase text-warning">Happy hours</h5>
  
            <ul class="list-unstyled">
              <li>
                Mon – Fri     &nbsp;&nbsp;&nbsp;    07:00–23:00
              </li>
              <li>
                Saturday      &nbsp;&nbsp;&nbsp;    09:00–20:00
              </li>
              <li>
                Sunday       &nbsp;&nbsp;&nbsp;      04:00–20:00
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase text-warning">Location</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4972.82134580338!2d-0.016403!3d51.450616!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6024ea39be56c87d!2sBragtech%20LTD%20-%20SEO%20%26%20SMO%20Company%20in%20London!5e0!3m2!1sen!2sin!4v1632566548576!5m2!1sen!2sin" loading="lazy" style="border: 0;border-radius: 10px;" width="150px" tabindex="0" frameborder="0" allowfullscreen="allowfullscreen" aria-hidden="false"></iframe>
   
  
          </div>
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  

  
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://bragtech.com/"> BRAGTECH</a>
  </div>

  </footer>
  <!-- Footer -->
