<div class="container-fluid text-center">

    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><a href="https://www.blindsdirectltd.co.uk/"><img [src]="'assets/blinds-direct.png'" alt=""></a></ng-template>  
      <ng-template carouselSlide><a href="https://www.fittedwardrobesandbedrooms.co.uk/"><img [src]="'assets/fitted.png'" alt=""></a></ng-template>  
      <ng-template carouselSlide><a href="https://boiler-repairservice.co.uk/"><img [src]="'assets/aquatech.png'" alt=""></a></ng-template>
      <ng-template carouselSlide><a href="https://beautifulbedrooms.co.uk/"><img [src]="'assets/beautiful-bedrooms.png'" alt=""></a></ng-template>  
      <ng-template carouselSlide><a href="https://786-law.co.uk/"><img [src]="'assets/786law.png'" alt=""></a></ng-template>  
      <ng-template carouselSlide><a href="https://www.godirectcouriers.co.uk/"><img [src]="'assets/go-direct.png'" alt=""></a></ng-template>
      <ng-template carouselSlide><a href="https://www.britanniasolicitors.com/"><img [src]="'assets/britannia-solicitors.png'" alt=""></a></ng-template>  
    </owl-carousel-o>
 
  </div>
