<app-nav-bar-page>

  <p class="h4 mb-4">Contact us</p>
<app-contact-form></app-contact-form>
<br><br><br><br>

<div class="container-fluid">
  <div class="row">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317718.6931929205!2d-0.3817960550863075!3d51.52830798491255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8afb90d4f9af9%3A0x24035ea857f03d3d!2sBraghTech%20%7C%20SEO%20Agency%20London!5e0!3m2!1sen!2sin!4v1595315486416!5m2!1sen!2sin" loading="lazy" style="border: 0;" tabindex="0" width="100%" height="575" frameborder="0" allowfullscreen="allowfullscreen" aria-hidden="false"></iframe>
  </div>
</div>
 
<app-footer></app-footer>
<app-scroll-to-top></app-scroll-to-top>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="main.js"></script>
  </app-nav-bar-page> 