<app-nav-bar-page>

  <p class="h4 mb-4">Contact us</p>
<app-contact-form></app-contact-form>
<br><br><br><br>

<div class="container-fluid">
  <div class="row">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4972.82134580338!2d-0.016403!3d51.450616!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6024ea39be56c87d!2sBragtech%20LTD%20-%20SEO%20%26%20SMO%20Company%20in%20London!5e0!3m2!1sen!2sin!4v1632566548576!5m2!1sen!2sin" width="100%" height="575" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>
 
<app-footer></app-footer>
<app-scroll-to-top></app-scroll-to-top>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="main.js"></script>
  </app-nav-bar-page> 