<style>
  .background-png  {
       position: relative;
     background-size: cover;
        background-image:url('assets/svg.svg');
    }
</style>

<app-nav-bar-page>
<app-hero-about></app-hero-about>
<br><br><br><br>

    <div class="home-contant container" style="margin-top: 30px;">
      <h3 class="text-justify text-center main-head"  style="font-size: 30px;">Want to learn more on why BragTech is regarded as London's top Social, Search Engine Marketing, and SEO agency? </h3>
     <p class="text-justify text-center main-para">Get in contact with us. We'd be delighted to hear from you.
      </p>
      
    </div>
  <br><br><br>
<app-tabs></app-tabs>

 <!-- Card -->
 <br><br>
 
 <div class="container">
  <div class="row col-md-12">
    <div class="col-lg-6 col-md-12">
      <figure class="figure">
        <img [src]="'assets/about-image.png'" class="figure-img img-fluid rounded" alt="about page">
        
      </figure>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 background-png">
      <div class="home-contant container">
        <h3 class="text-justify text-center main-head">Social Media Agency London</h3>
       <p class="main-para">Is your company present on social media? Are you targeting the correct audience? It isn't always easy to advertise on social media. Indeed, with too many various networks to choose from, it can be difficult to know where to begin! 
        As a result, if you're having trouble, you can consider hiring a SMO agency in London to assist you
        
        
        </p>
        <h3 class="text-justify text-center main-head" style="font-size: 20px;">So what would a local SMO firm do with me?</h3>
       
        <div class="text-justify "><h3>Brag Tech serves businesses and products on all social media platforms. </h3>
          <ul>
            <li>	If you have a Facebook account? </li>
          <li>	Is it true that you have a Twitter account? </li>
          <li>	Are you a frequent user of Instagram or Pinterest?</li>
          </ul>
          If you intend to cater to a social audience, you can tackle both of these networks by digital marketing company London then you are in the correct place.
          Don't worry if you don't know-how. We're here to assist you in putting together Social Media marketing in London with the web design that can create a real difference in the long run.
          
        </div>
      </div>
    </div>
    
  </div>
</div>

  
<div class="col-md-12" >
  
</div>

<br><br>
  <app-footer></app-footer>
  <app-scroll-to-top></app-scroll-to-top>
</app-nav-bar-page>