<style>
  .background  {
       position: relative;
        background-image:url('assets/header-background.svg');
    }
</style>


<div >

<mat-tab-group mat-align-tabs="center" animationDuration="0ms" class="background">
    
    <mat-tab  label="Services Provided">
        <div class="tabs text-justify"><h3 style="font-size:larger"> Services Provided by an SEO Agency
            An effective SEO approach is based on the company's objectives. The resources mentioned below describe how we handle SEO for a variety of purposes:</h3>
            <p ><strong>SEO TECHNIQUES</strong> <br>
            The basis of SEO performance is technical aspects. Accomplish technological mastery and enjoy the benefits.</p>
            <p><strong>ABOUT THE CONTENT</strong><br>
            Content optimization improves the website's organic exposure and potential to draw the right audience.</p>
            <p><strong>BUILDING LINKS</strong><br>
            The importance of high-quality ties in achieving top organic rankings cannot be overstated. We'll assist you in obtaining the required ties in a long-term manner when it omes to content marketing to drive more traffic to your website.</p>
            <p><strong>SEO FOR E-COMMERCE </strong> <br>
            Businesses who market merchandise online and want to boost their product offerings in search results should use this service and make theior website SEO friednly with the assistance of our web design agency London</p>
            <p><strong>LOCAL WEBSITE POSITIONING</strong><br>
            Targeting a targeted audience with companies with a geographic presence or clients in a particular region with google maps marketing.</p>
            <p><strong>SEO INTERNATIONAL</strong> <br>
            For companies who aim to attract a global audience and expand their products into different markets.</p>
            <p><strong>SEO ON THE GO</strong> <br>
            For companies who wish to reach a smartphone audience or that currently use mobile as a marketing channel.</p>
            <p><strong>ANALYSIS OF SEO </strong> <br>
            It's a smart place to figure out what you'll need and where you'll find openings.
        </p>
            </div>
    </mat-tab>
    <mat-tab  label="Advance Features">
        <div class="tabs text-justify"><h3 style="font-size: larger;"> Services Provided by an SEO Agency
            An effective SEO approach is based on the company's objectives. The resources mentioned below describe how we handle SEO for a variety of purposes:</h3>
            <p><strong>MIGRATIONS ON THE SITE</strong> <br>
                It's important to guarantee that a site relocation would have a good effect on organic results before making the investment</p>
            <p ><strong>SEO JAVASCRIPT</strong><br>
                If Google can't crawl your web, it won't rank - but that doesn't imply you should ignore Javascript entirely.</p>
            <p ><strong>Our strategy is as follows:</strong><br>
                SEO in surrey is often defined as a science and other times as an art. In fact, it's a mix of the two, with good data and an innovative attitude driving growth. Our strategy is based on our belief in delivering ethical SEO that produces long-term, measurable outcomes.
                Of course, if you want SEO to pay off, it has to be in line with your overall market plan. We assume that the feedback should represent the performance you wish to produce, which is why we spend time learning about your company first. We conduct research and analysis on your business, audience, and market in order to best serve your needs.
                </p>
            <p ><strong>The quality of the content</strong> <br>
                Your website would not rank if it is not applicable to the search question or, more accurately, if Google does not recognize its significance. We evaluate your current content to ensure that each page serves a specific intent and that your platform reflects your experience through your whole portfolio of goods and services, as well as assisting you in the development of new content to catch your target audience's interest.</p>
            <p><strong>Promotional plan</strong><br>
                It's one thing to have excellent material on the website; but, if no one recognizes it, Google would struggle to do so as well. Our staff includes SEO, public relations, and content strategy professionals, placing us in a strong role to promote the website online. We will help you bring your brand in front of your target customers and increase the authority of your website.</p>
            
            </div>
            </mat-tab>
 

  </mat-tab-group>
</div>