<style>
  .hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/index-page.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
    position: relative;
    top: 30%;
    color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: rgb(32, 73, 126);
  color: white;
}


</style>

<div class="hero-image" aria-label="bragtech seo agency">
  <div class="hero-text wow animate__animated animate__zoomInUp col-md-6">
    <h1 style="font-size:50px;line-height: 1;font-weight: bolder;">We Give Solution</h1>
    <p>We do all types of digital marketing like SEO (Search Engine Optimization) , SMM (Social Media Marketing), SEM (Search Engine Marketing), SMO (Social Media Optimization), Website Optimization in London</p>
    <button mat-raised-button routerLink="/contact-us">CONTACT US</button>
    
  </div>
</div>
<br><br><br>
    <div class="home-contant container">
      <h3 class="text-justify text-center main-head">Businesses in London Depend on the SEO Agency</h3>
     <p class="main-para">Bragtech can be called the SEO organization London companies depend on to improve online exposure via best practice, with a long list of loyal clients who have trusted our SEO agency London services for many years.
      We use our expertise and experience to implement tried-and-true strategies that have been shown to improve online traffic, conversions, and revenues. Our clients save money and have quicker outcomes because our expertise shows us just what works for local SEO services in London.
      </p>
    </div>
     <br><br>






     <div class="row" style="justify-content: center ;margin-right: 15px;margin-left: 15px;">
      <div class="card col-md-3 col-12" routerLink="/seo">
          <div class="card-content">
              <div class="card-body">
                 <div style="
                            background-image: linear-gradient(136deg , #007bff, #164ba2);
                            padding: 60px;
                            text-align: center;
                            font-size: 30px;
                            box-shadow: 0.2px 0.3px 30px 0.1px grey;
                            color: white;">SEO</div>
                <mat-divider style="margin:10px"></mat-divider>
                  <div class="shadow"></div>
                  <div class="card-title"> SEO </div>
                  <div class="card-subtitle">
                      <p> <small class="text-muted">SEOs from all over the United Kingdom will continue to classify the search results and traffic of your business in Google.</small> </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card col-md-3 col-12 ml-2" routerLink="/smo">
          <div class="card-content">
              <div class="card-body"><div style="
                                              background-image: linear-gradient(322deg , #007bff, #164ba2);
                                              padding: 60px;
                                              text-align: center;
                                              font-size: 30px;
                                              box-shadow: 0.2px 0.3px 30px 0.1px grey;
                                              color: white;">SMO</div>
                <mat-divider style="margin:10px"></mat-divider>
                  <div class="card-title"> SMO </div>
                  <div class="card-subtitle">
                      <p> <small class="text-muted"> We appreciate the needs of our clients as one of London 's finest SMO business and provide end-to-end social network marketing services.</small> </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card col-md-3 col-12 ml-2 col-sm-12" routerLink="/digitalmarketing">
          <div class="card-content">
              <div class="card-body"><div style="
                                                background-image: linear-gradient(136deg , #007bff, #164ba2);
                                                padding: 60px;
                                                text-align: center;
                                                font-size: 15px;
                                                box-shadow: 0.2px 0.3px 30px 0.1px grey;
                                                color: white;">Digital Marketing</div>
                <mat-divider style="margin:10px"></mat-divider>
                  <div class="card-title"> DIGITAL MARKETING </div>
                  <div class="card-subtitle">
                      <p> <small class="text-muted">As a leading digital agency we are able to offer a fully integrated service beyond the initial brand online.</small> </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <br><br><br>
    <div class="home-contant container">
      <h3 class="text-justify text-center main-head">Why Do Your Company Need Our SEO Services?</h3>
     <p class="main-para">As a business owner, you're probably searching for a reputable London firm to help you bring your website to the top of search engines. People nowadays use Google, Yahoo, and Bing to find the facilities and sites they want to see, as well as things they want to purchase.
      In the actual world, though, whether you are trying to sell a product or service and are searching for future, and preferably, loyal customers to maximize your monthly sales, Search Engine Optimization is a must-have (regardless of if your business is global or local). 
      As a reputable local SEO agency in London, we understand how difficult it is to rank highly on big search engines. We are here to assist you by delivering the high-quality facilities that London companies demand to improve their organic seo.
      
      </p>
    </div>
  <br><br><br>
  <app-price-list></app-price-list>
  
  <br>
  <br><br><br>
    <div class="home-contant container">
      <h3 class="text-justify text-center main-head">Create a Reputable Brand</h3>
     <p class="main-para">Unlike paid quest, organic ranks can't be purchased, but they're the only way to get to the top of Google. Being at the top of the search results gives the company a sense of authority, which the clients would respect. 
      Over the course of our ten years of business, we've learned a specific approach when it comes to local search and local content. Working with us would provide you with a skilled and results-oriented operation with additional web design London and link building facilities with a local business.
      We are London's leading Search Marketing, Social Media, SEO and web design agency. 
      </p>
     
      BragTech is a multimedia and SEO firm located in the heart of London. Our Search Marketing, Social Media, and SEO offerings are the gold standard in the sector especially if you want to avoid paid search for your business.  <br>
      <ul>
<li>	World-famous companies, foreign governments, and a slew of SMEs depend on our search marketing, social media, and SEO services. </li>
<li>We consider ourselves to be London's leading social media, search marketing, and SEO agency. </li>
<li>	BragTech has worked to add consistency, openness, and confidence to the Search Marketing world since its inception.</li>
<li> Consistently excellent performance, excellent connectivity, and a lengthy list of satisfied customers are evidence that we consistently perform.</li>
<li>	We are a goal-oriented firm.</li>

<li> We set optimistic goals and come back with concrete benchmarks and KPIs using our data-first methodology . </li>
</ul>
As a consequence, we have has established itself as one of the leading Digital Marketing, Design, and SEO firms in the UK.
Our customers should anticipate unrivaled experience from a leading organization, as well as all the benefits of working for a small firm that fights tirelessly for each customer. 
It is not easy for us to provide our clients with transformational development. Passion, experience, imagination, time, and careful preparation are all needed.
This whilst adhering to ethical and environmental practices to ensure that our customers enjoy excellent search and SEO services that do not deplete the ecosystem. 

    </div>
     
  <div class="divide">
    
  </div>

  
  <div class="container-fluid">
    <div class="row" style="
    background-image: linear-gradient( hsla(200,50%,50%,0.2),50%,#100f0f),url(assets/laptop-work.jpg);background-attachment: fixed;
    background-size: cover;" aria-label="laptop background for bragtech">
    <div class="col-md-6">
    <a routerLink="/seo">  <div class=" text-center"><span class="material-icons" style="font-size: 40px;color: #f44336;">
        share
        </span><h2 class="text-white">SEO</h2><p class="text-white"> Drive qualified traffic to your website and maximize ROI with SEO optimization.</p></div></a>
        <a routerLink="/smo">  <div class=" text-center"><span class="material-icons" style="font-size: 40px;color: #f44336;">
        public
        </span><h2 class="text-white">SMO</h2><p class="text-white">  Social Media Marketing is important for the online presence of your business.</p></div></a>
      </div>
      <div class="col-md-6">
        <a routerLink="/digitalmarketing">  <div class=" text-center"><span class="material-icons" style="font-size: 40px;color: #f44336;">
        personal_video
        </span><h2 class="text-white">Digital Marketing</h2><p class="text-white">Bragtech, one of London 's largest digital media agencies, will help to grow your business via online.</p></div></a>
        <a routerLink="/website-developement"> <div class=" text-center"><span class="material-icons" style="font-size: 40px;color: #f44336;">
        web
        </span><h2 class="text-white">Website Development</h2><p class="text-white"> We offer web development services for any kind of business or industry.</p></div></a>
      </div>
     
    </div>
  </div>
    

<div class="custom-shape-divider-top-1617001553">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M649.97 0L550.03 0 599.91 54.12 649.97 0z" class="shape-fill"></path>
    </svg>
</div>
      


<br><br><br>
    <div class="home-contant container">
      <h3 class="text-justify text-center main-head">Award-Winning Search Engine Optimization (SEO) Firm</h3>
     <p class="main-para">We have an established track record in generating success for clients in Search Engine Optimization as a multiple award-winning SEO agency (SEO).
      
      </p>
      <br>
      <h3 class="text-justify text-center main-head">Submit a quotation request Case Studies in SEO</h3>
     <p class=" main-para">We've risen to become the number one UK SEO Agency, as voted the best SEO company in London, for work with national and local clients respectively, thanks to the awards (including "SEO Agency of the Year") from separate industry bodies.
      Our goal is to increase your online consumer base. The BragTECH is a seasoned UK SEO firm that will help you improve your search engine exposure and traffic. For the overall goal of increasing the company's leads, inquiries, and profits by employing google mapping and local SEO.
      
      </p>
    </div>
    <br>

<!-- Card -->
<div class="container">
<div class=row col-md-12>
<mdb-card class="col-md-6 ">
    <div class="view rgba-white-slight waves-light" mdbWavesEffect >
      <!-- Card img -->
      <mdb-card-img [src]="'assets/seo.jpg'" alt="Card image cap for bragtech testimonials"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h2>Why Hire an SEO Company?</h2>
      </mdb-card-title>
  
      <!--Text-->
      
      <mdb-card-text *ngIf="visible">
        <strong>Get a Head Start on The Rivals</strong> 
        Customers are looking for your goods or service on the internet. An accomplished SEO company in UK will formulate a winning plan that will enable you to rank higher in search engine rankings than your competitors. 
        Not only can our approach boost the website's visibility in Google and other search engines, but it will also optimize landing pages to increase conversions and purchases.
        
      </mdb-card-text>
  
      <button (click)="onclick()" type="button" class="btn btn-primary">
        {{ReadMore?"Read More":"Read Less"}}
      </button>
    </mdb-card-body>
</mdb-card>

  <mdb-card class="col-md-6" >
    <mdb-card-text >
      <h2 class="text-center text-head">Use Our SEO Agency's Vast Experience</h2>
      Having an in-house SEO specialist allows you to tap into a limited pool of SEO expertise. To achieve the best performance, SEO is a multi-skilled discipline that necessitates a variety of analytical and artistic abilities. 
      SEO agencies incorporate many skills, resulting in a multi-talented, multi-disciplined workforce at a fraction of the expense of a full-time employee.
      Working with a reputable SEO firm allows you access to a much broader range of skills like website audit, the website consulting London. Our organic search team has decades of experience operating in a multitude of markets with customers who all want to increase their online market.
      
    </mdb-card-text>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text *ngIf="visible2">
       <strong> Find out all from your clients.</strong>
        <p>We have access to a lot greater amount of data on your user base when we use an SEO Agency to improve your website to draw further users through improved search exposure. 
          As a result, you will make better choices regarding your goods, facilities, and overall market goals through our proven SEO campaign, keyword research and SEO strategies.
          </p>
      </mdb-card-text>
  
      <button (click)="onclick2()" type="button" class="btn btn-primary">
        {{ReadMore2?"Read More":"Read Less"}}
      </button>
    </mdb-card-body>
  </mdb-card>
</div>


</div>


<h2 class="text-center text-head">People Says</h2>
<p class="text-center">Our Clients Valuable Feedback about Bragtech.</p>
  <br><br>
<!---testimonial start-->

<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="single-box ">
                  <div class="img-area"><img [src]="'assets/image1.png'" alt="The Best Seo Company In London"></div>
                  <div class="img-text">
                    <h2>Henry William</h2>
                    <p>The Best Seo Company In London</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="single-box">
                  <div class="img-area"><img [src]="'assets/image2.jpg'" alt="Quality SEO Services" ></div>
                  <div class="img-text">
                    <h2>David Patrick</h2>
                    <p>Quality SEO Services , and Good Response to the costomers</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="single-box"> 
                  <div class="img-area"><img [src]="'assets/image3.jpg'" alt="Beautiful Website Designers" ></div>
                  <div class="img-text">
                    <h2>Megan Denise</h2>
                    <p>Beautiful Website Designers and SEO Experts .</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-4">
                <div class="single-box">
                  <div class="img-area"><img [src]="'assets/image4.jpg'" alt="They Provide Cheap And Best Works In London"></div>
                  <div class="img-text">
                    <h2>Angelina Jolie</h2>
                    <p>They Provide Cheap And Best Works In London</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="single-box">
                  <div class="img-area"><img [src]="'assets/image5.jpg'" alt="Excellent Works In UK" ></div>
                  <div class="img-text">
                    <h2>Frank Denrio</h2>
                    <p>Trusted And Good Customer Support.. Excellent Works In UK</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="single-box">
                  <div class="img-area text-center"><img [src]="'assets/image6.png'" alt="best smo agency in london" ></div>
                  <div class="img-text">
                    <h2>Anna Smith</h2>
                    <p>Best Digital Marketing Team In UK , I Suggested Everyone For Bragtech. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!---testimonial end-->

  
  <br><br><br><br><br>
  <h2 class="text-center text-head">Our Clients</h2><br><br>
  <app-carousel></app-carousel>

  <br><br><br><br><br>
  <app-footer></app-footer>

  
  <app-scroll-to-top></app-scroll-to-top>