
<div class="container-fluid">
    <div class="call">
            
            
          &nbsp; <a href="mailto:BragTechUK@gmail.com"> <button  mat-mini-fab style="background-color: #88001B;" class="btn-floating buttons"><mat-icon>mail</mat-icon></button></a><br>
          
          &nbsp;  <a href="tel:+442081441167"> <button   mat-mini-fab style="background-color: #05d0df;" class="btn-floating buttons"><mat-icon>phone</mat-icon></button></a><br>

          &nbsp;  <a href="https://wa.me/919840610226?text=Hi%20!!%20we%20are%20BRAGTECH%20what%20%20is%20your%20requirements%20..."> <button  mat-mini-fab style="background-color: #34f15a;" class="btn-floating buttons"><i class="fab fa-whatsapp" aria-hidden="true"></i></button></a><br>

          &nbsp;  <a href="http://m.me/bragtechuk/"> <button   mat-mini-fab style="background-color: #006AFF;" class="btn-floating buttons"><mdb-icon fab icon="facebook-messenger"></mdb-icon></button></a><br>
    </div>
</div>

<router-outlet></router-outlet> 

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="main.js"></script>