<style>
  .background-sky {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/about-background.jpg");
   background-size: cover;
}
</style>



<div class="background-sky hero wow animate__fadeInTopLeft" data-wow-duration="2s" data-wow-delay="0s"></div>
<div class="container"><section id="intro">
    <!-- LOGO -->
    <div class="hero-logo wow animate__fadeInLeft" data-wow-duration="2s" data-wow-delay="0s">
      <img [src]="'assets/about-smo.png'" alt="Angular" width="200" height="150">
    </div>
    <!-- CONTAINER -->
    <div class="homepage-container">
      <div class="hero-headline no-toc wow animate__fadeInTopRight" data-wow-duration="2s" data-wow-delay="0s">About
        <br><button mat-flat-button class="button-style" routerLink="/contact-us">Contact us</button>
        
    </div>
      
    </div>
  </section>
</div>