
<div class="container">
  <div class="row">
   
  <div class="col-md-4">
    <div class="card text-center" style="margin-bottom:10px;">
      <div class="card-header"style="font-size:20px;font-weight:700">SEO LONDON</div>
      <h5 class="card-title">For International Companies</h5>
      <mat-divider></mat-divider>
      <div class="card-body">
        
       
          <div class="card" >
            <div class="card-header">£495/month+vat</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="padding: 1rem;">Pay Monthly :No contract :Ultra Flexible</li>
              <mat-divider></mat-divider>
              <li class="list-group-item" style="padding: 0.2rem;">FAST Results As Our Monthly Reports Will Show</li>
              <mat-divider></mat-divider>
              <li class="list-group-item" style="padding: 0.5rem;">Up to 30-40 Keyword Phrases Optimised</li>
              <mat-divider></mat-divider>
              <li class="list-group-item" style="padding: 0.2rem;">Google Search Console,Analytics & Buissiness Map Listing Set Up</li>
              <mat-divider></mat-divider>
              <li class="list-group-item">Safe Backlink Building</li>
              <mat-divider></mat-divider>
              <li class="list-group-item">Email Support 7 Days A Week</li>
            </ul>
          </div>
        
        <a routerLink="/contact-us" class="btn" mdbWavesEffect style="background-color: rgba(31, 216, 248, 0.871);color: #fff;">& more -LOCAL SEO QUOTE</a>
      </div>
    <div class="card-footer text-muted"></div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-center" style="margin-bottom:10px;">
      <div class="card-header"style="font-size:20px;font-weight:700;background-color:#f44336;color:#fff">SEO COMPANY</div>
      <h5 class="card-title">For UK & eCommerce coverage</h5>
      <mat-divider></mat-divider>
      <div class="card-body">
        
       
          <div class="card">
            <div class="card-header" style="background-color: rgb(246, 248, 133);"><strong style="color: red;"> £695</strong>/month+vat</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">All Benefits of SEO UK Package PLUS</li>
              <mat-divider></mat-divider>
              <li class="list-group-item">Competitor SEO Analysis & Tracking</li>
              <mat-divider></mat-divider>
              <li class="list-group-item">Up to 50-60 Keyword Pharases Optimised</li>
              <mat-divider></mat-divider>
              <li class="list-group-item">Targeted Back Linking</li>
              <mat-divider></mat-divider>
              <li class="list-group-item">Advanced SEO Reporting & Analysis</li>
              <mat-divider></mat-divider>
              <li class="list-group-item">Expert Telephone Support</li>
              <mat-divider></mat-divider>
            </ul>
          </div>
        
        <a routerLink="/contact-us" class="btn" mdbWavesEffect style="background-color: rgb(50, 207, 50);color: #fff;">& more-SEO UK QUOTE</a>
      </div>
    <div class="card-footer text-muted"></div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="card text-center" style="margin-bottom:10px;">
      <div class="card-header"style="font-size:20px;font-weight:700">SEO AGENCY</div>
      <h5 class="card-title">For International Companies</h5>
      <mat-divider></mat-divider>
      <div class="card-body" >
        
       
          <div class="card">
            <div class="card-header">£995/month+vat</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="padding: 1rem;">All Benefits of SEO UK Package PLUS</li>
              <mat-divider></mat-divider>
              <li class="list-group-item" style="padding: 1rem;">Unlimited Keyword Pharases Optimised</li>
              <mat-divider></mat-divider>
              <li class="list-group-item" style="padding: 1rem;">International SEO Reporting in ANY Country</li>
              <mat-divider></mat-divider>
              <li class="list-group-item">Social Media Monitoring</li>
              <mat-divider></mat-divider>
              <li class="list-group-item">Tailored Bespoke SEO Service</li>
              <mat-divider></mat-divider>
            </ul>
          </div>
        
        <a routerLink="/contact-us" class="btn btn-danger" mdbWavesEffect >BESPOKE QUOTE</a>
      </div>
    <div class="card-footer text-muted"></div>
    </div>
  </div>
</div>
</div>
